body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    text-decoration: underline;
    margin-left: 25px;
}
p {
    color: blue;
}
h2 {
	color: red;
}
img {
    border-radius: 50%;
}
